.main-wrap {
  width: 100%;
  float: left;
}
.main {
  margin-left: 150px;
  margin-right: 190px;
}
.left {
  float: left;
  width: 150px;
  margin-left: -100%;
  /*position: relative;*/
  /*left:-150px;*/
}
.right {
  float: left;
  width: 190px;
  margin-left: -190px;
  /*position:relative;*/
  /*right:-190px;*/
}