#box{
	width: 100%;
	/* 弹性盒子 */
	display: flex;
	justify-content: center;
	align-items: center;
}
.cl1{
	background-color: #00FFFF;
	/* 固定宽度 */
	width: 200px;
	height: 300px;
}
.cl2{
	background-color: #10C593;
	/* 居中占比 */
	flex: 1;
	height: 300px;
}
.cl3{
	background-color: #1D7DB1;
	/* 固定宽度 */
	width: 200px;
	height: 300px;
}
